span{
  font-size: x-large;
}
body{
  background: rgb(219, 219, 226);
  color: black;
  justify-content: center;
}

.slider{
    -webkit-appearance: none;
  width: 90%;
  height: 20px;
  border-radius: 12px;  
  background: linear-gradient(90deg,rgb(214,214,214)55%,rgb(214,214,214)55%);
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  box-shadow: 0px 1px 10px 1px black;
}

.range-wrap {
    position: relative;
    margin: 0 auto 3rem;
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 40px;
    height: 40px;
    border-radius: 50%; 
    background: rgb(255, 6, 6);
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: white;
    cursor: pointer;
  }

  datalist{
      display: contents;
  }

  .sliderticks {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    width: 92%;
    margin-left: 2%;
  }
  
  .sliderticks p {
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 2px;
    background: rgb(255, 0, 0);
    height: 10px;
    line-height: 40px;
    margin: 0 0 20px 0;
  }

.slidervalue{
  color: blue;
  font-size: xx-large;
  margin: 25%;
}

.sliderContainer{
  width:75%;
  margin-top: 200px;
}